:root {
  color-scheme: light dark;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightblue;
  color: black;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(23, 23, 23);
  color: white;
  cursor: pointer;
}
    
fieldset {
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  background-color:lightgray;
}
    
legend {
  font-weight: bold;
  color:rgb(255, 51, 0);
}
    
h1 {
  margin-bottom: 5px;
}